@import "../styles/variables.scss";

.day-event_delete {
  width: 100%;
  height: 34px;
  border-radius: 5px;
  background-color: $sky-blue;
  color: #fff;
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.75);
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  text-align: center;
  padding-top: 6px;
  cursor: pointer;
  &_text {
    padding: 5px;
  }
}
