$white: #fff;
$black: #000;

$grey: #808080;
$lightGrey: #ececec;
$classicGrey: #d5d5d5;
$darkGrey: #3c4043;

$dark-violet-blue: #293dce;
$blue: #325ce8;
$sky-blue: #1dadf4;
$light-blue: #f0f7fe;

$red: #ea4335;
$violet: #5320a4;
$light-violet: #6d49f6;

$text-grey: #70757a;
$text-darkGrey: #3c4043;
$text-white: #fff;
