@import "../styles/variables.scss";

.main-part {
  display: flex;
}

.calendar {
  width: 100%;
  height: 100vh;
  margin-top: 160px;

  &__week {
    display: flex;
  }

  &__day {
    width: 100%;
  }

  &__hour {
    background-color: $white;
    width: 100%;
    height: 60px;
    border-left: 1px solid $classicGrey;
    border-bottom: 1px solid $classicGrey;
    position: relative;
  }
}
