@import "../styles/variables.scss";

.days-container {
  display: flex;
  position: fixed;
  z-index: 999;
  margin-top: 60px;
  width: 100%;
  height: 100px;
  background-color: $white;
  color: $text-grey;
  border-bottom: 1px solid #d5d5d5;
  z-index: 99;
  .gmt {
    min-width: 50px;
    font-size: 12px;
    align-self: flex-end;
    padding: 0 0 10px 8px;
    text-transform: uppercase;
  }
}

.day-name {
  z-index: 2;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.day-date {
  display: flex;
  justify-content: center;
  z-index: 1;
  font-size: 25px;
  color: $text-darkGrey;
  padding: 6px;
  min-width: 35px;

  &:hover {
    background-color: $lightGrey;
    color: $text-darkGrey;
    border-radius: 100%;
    cursor: default;
  }

  &_current {
    background-color: rgb(1, 3, 161);
    color: $text-white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: default;
  }
}

.day {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
